[Desktop Entry]
Exec=kcmshell cddb
Icon=cdaudio_unmount
Type=Application

X-KDE-ModuleType=Library
X-KDE-Library=cddb_config

Name=CDDB retrieval
Name[ar]=أسترجاع CDDB
Name[bg]=CDDB възвръщане
Name[bs]=CDDB
Name[cs]=Získání CDDB
Name[da]=CDDB-hentning
Name[de]=CDDB-Empfang
Name[el]=ανάκτηση CDDB
Name[eo]=LDDB-serĉo
Name[es]=Recuperación CDDB
Name[eu]=CDDB Berreskuratze
Name[fi]=CDDB-haku
Name[fr]=Requêtes CDDB
Name[he]=הורדה מ-CDDB
Name[hu]=CDDB letöltés
Name[it]=Recupero CDDB
Name[ja]=CDDB 受信
Name[lt]=CDDB gavimas
Name[nn]=CDDB-henting
Name[pt]=Pesquisa de CDDB
Name[pt_BR]=Recuperação do CDDB
Name[ro]=Actualizare CDDB
Name[sk]=Získanie CDDB
Name[sl]=Pobiralnik CDDB
Name[sv]=CDDB-hämtning
Name[uk]=Звантаження CDDB
Name[ven]=U humbula ha CDDB
Name[vi]=CĐB retrieval
Name[xh]=CDDB ukukangela
Name[xx]=xx
Name[zh_CN]=CDDB 获取
Name[zu]=CDDB ukutholakala
GenericName=CDDB Configuration
GenericName[ar]=اعدادت CDDB
GenericName[be]=Канфігурацыя CDDB
GenericName[bg]=CDDB Настройка
GenericName[bs]=Podešavanje CDDBa
GenericName[cs]=Nastavení CDDB
GenericName[da]=CDDB-Indstilling
GenericName[de]=CDDB-Einrichtung
GenericName[el]=Ρύθμιση CDDB
GenericName[eo]=LDDB-agordo
GenericName[es]=Configuración CDDB
GenericName[eu]=CDDB Konfigurazioa
GenericName[fi]=CDDB-asetukset
GenericName[fr]=Configuration CDDB
GenericName[he]=הגדרות CDDB
GenericName[hu]=CDDB-beállítások
GenericName[it]=Configurazione CDDB
GenericName[ja]=CDDBの設定
GenericName[lt]=CDDB konfigūravimas
GenericName[nl]=CDDB-configuratie
GenericName[nn]=CDDB-oppsett
GenericName[pt]=Configuração do CDDB
GenericName[pt_BR]=Configuração do CDDB
GenericName[ro]=Configurează CDDB
GenericName[sk]=Konfigurácia CDDB
GenericName[sl]=Nastavitve CDDB
GenericName[sv]=CDDB-anpassning
GenericName[th]=ปรับแต่ง CDDB
GenericName[uk]=Налаштування CDDB
GenericName[ven]=Nzudzanyo ya CDDB
GenericName[vi]=Cấu hình CĐB
GenericName[xx]=xx
GenericName[zh_CN]=CDDB 配置
GenericName[zu]=Uhlanganiso lwe CDDB
