[Desktop Entry]
Exec=kcmshell libkcddb
Icon=cdaudio_unmount
Type=Application

X-KDE-ModuleType=Library
X-KDE-Library=cddb

Name=CDDB Retrieval
Name[bs]=CDDB dobavljanje
Name[ca]=Recuperació CDDB
Name[cs]=Získání CDDB
Name[da]=CDDB-Hentning
Name[de]=CDDB-Abfrage
Name[es]=Recuperador de CDDB
Name[fi]=CDDB-haku
Name[fr]=Recherche CDDB
Name[hr]=Dohvat iz CDDB
Name[hu]=CDDB-lekérdezés
Name[ja]=CDDB 受信
Name[nl]=CDDB-ontvangst
Name[pt_BR]=Recuperação do CDDB
Name[sr]=Добављање CDDB-ова
Name[sv]=Hämta från CDDB
Name[tr]=CDDB Geri alma
Name[uk]=Звантаження CDDB
Name[ven]=U humbula ha CDDB
Name[xh]=CDDB Ukukangela
Name[xx]=xxCDDB Retrievalxx
GenericName=CDDB Configuration
GenericName[ar]=اعدادت CDDB
GenericName[bg]=CDDB Настройка
GenericName[bs]=Podešavanje CDDBa
GenericName[ca]=Configuració CDDB
GenericName[cs]=Nastavení CDDB
GenericName[da]=CDDB-Indstilling
GenericName[de]=CDDB Konfiguration
GenericName[eo]=LDDB-agordo
GenericName[es]=Configuración de CDDB
GenericName[et]=CDDB seadistamine
GenericName[eu]=CDDB Konfigurazioa
GenericName[fi]=CDDB-asetukset
GenericName[fr]=Configuration CDDB
GenericName[hr]=Podešavanje CDDB-a
GenericName[hu]=CDDB-beállító
GenericName[it]=Configurazione CDDB
GenericName[ja]=CDDBの設定
GenericName[lt]=CDDB konfigūravimas
GenericName[lv]=CDDB Konfigurācija
GenericName[nl]=CDDB instellen
GenericName[pl]=Konfiguracja CDDB
GenericName[pt_BR]=Configuração do CDDB
GenericName[ro]=Configurează CDDB
GenericName[ru]=Настройка CDDB
GenericName[sr]=Подешавање CDDB-а
GenericName[sv]=CDDB-inställning
GenericName[th]=ปรับแต่ง CDDB
GenericName[tr]=CDDB Yapılandırması
GenericName[uk]=Налаштування CDDB
GenericName[ven]=Nzudzanyo ya CDDB
GenericName[wa]=Apontiaedje di CDDB
GenericName[xx]=xxCDDB Configurationxx
GenericName[zu]=Uhlanganiso lwe CDDB
Keywords=cddb
Keywords[xx]=xxcddbxx
Categories=Qt;KDE;X-KDE-settings-sound
