[Desktop Entry]
Exec=kcmshell4 libkcddb
Icon=media-optical-audio
Type=Service
ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=audio-and-video

X-KDE-Library=kcm_cddb
X-KDE-ParentApp=kcontrol
X-DocPath=kcontrol/cddbretrieval/index.html

Name=CDDB Retrieval
Name[bg]=Изтегляне на данни от CDDB
Name[ca]=Recuperació CDDB
Name[cs]=Získání CDDB
Name[da]=CDDB-hentning
Name[de]=CDDB-Abfrage
Name[el]=Ανάκτηση CDDB
Name[es]=Recuperación de CDDB
Name[et]=CDDB ülekanded
Name[fi]=CDDB-haku
Name[fr]=Recherche CDDB
Name[ga]=Aisghabháil CDDB
Name[gl]=Obtención CDDB
Name[hu]=CDDB letöltés
Name[ia]=Recuperationde CDDB
Name[it]=Recupero CDDB
Name[kk]=CDDB деректерді алу
Name[km]=កា​រទៅ​យក CDDB
Name[lt]=CDDB atsisiuntimas
Name[nb]=CDDB-henting
Name[nds]=CDDB-Affraag
Name[nl]=CDDB-informatie
Name[nn]=CDDB-henting
Name[pa]=CDDB ਪ੍ਰਾਪਤੀ
Name[pl]=Pobieranie z CDDB
Name[pt]=Transferência de CDDB
Name[pt_BR]=Recuperação do CDDB
Name[ru]=Доступ к CDDB
Name[sk]=Informácie z CDDB
Name[sl]=Pridobivanje CDDB
Name[sr]=Добављање из ЦДДБ‑а
Name[sr@ijekavian]=Добављање из ЦДДБ‑а
Name[sr@ijekavianlatin]=Dobavljanje iz CDDB‑a
Name[sr@latin]=Dobavljanje iz CDDB‑a
Name[sv]=Hämta från CDDB
Name[tr]=CDDB Erişimi
Name[uk]=Звантаження з CDDB
Name[x-test]=xxCDDB Retrievalxx
Name[zh_CN]=CDDB 获取
Name[zh_TW]=CDDB 取得資訊

GenericName=CDDB Configuration
GenericName[bg]=Настройки на CDDB
GenericName[ca]=Configuració CDDB
GenericName[cs]=Nastavení CDDB
GenericName[da]=CDDB-indstilling
GenericName[de]=CDDB-Einrichtung
GenericName[el]=Διαμόρφωση CDDB
GenericName[es]=Configuración de CDDB
GenericName[et]=CDDB seadistamine
GenericName[fi]=CDDB-asetukset
GenericName[fr]=Configuration CDDB
GenericName[ga]=Cumraíocht CDDB
GenericName[gl]=Configuración da CDDB
GenericName[hu]=CDDB beállítás
GenericName[ia]=Configuration de CDDB
GenericName[it]=Configurazione CDDB
GenericName[kk]=CDDB конфигурациясы
GenericName[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ CDDB
GenericName[lt]=CDDB konfigūravimas
GenericName[nb]=CDDB-oppsett
GenericName[nds]=CDDB-Instellen
GenericName[nl]=CDDB-instellingen
GenericName[nn]=CDDB-oppsett
GenericName[pa]=CDDB ਸੰਰਚਨਾ
GenericName[pl]=Konfiguracja CDDB
GenericName[pt]=Configuração do CDDB
GenericName[pt_BR]=Configuração do CDDB
GenericName[ru]=Настройка CDDB
GenericName[sk]=Nastavenie CDDB
GenericName[sl]=Nastavitve CDDB
GenericName[sr]=Постава ЦДДБ‑а
GenericName[sr@ijekavian]=Постава ЦДДБ‑а
GenericName[sr@ijekavianlatin]=Postava CDDB‑a
GenericName[sr@latin]=Postava CDDB‑a
GenericName[sv]=CDDB-inställning
GenericName[tr]=CDDB Yapılandırması
GenericName[uk]=Налаштування CDDB
GenericName[x-test]=xxCDDB Configurationxx
GenericName[zh_CN]=CDDB 配置
GenericName[zh_TW]=CDDB 設定

Comment=Configure the CDDB Retrieval
Comment[bg]=Настройки на изтегляне на данни от CDDB
Comment[ca]=Configura la recuperació CDDB
Comment[cs]=Nastavení stahování z CDDB
Comment[da]=Indstil hentning via CDDB
Comment[de]=CDDB-Abfrage einrichten
Comment[el]=Διαμόρφωση της ανάκτησης CDDB
Comment[es]=Configurar la recuperación de CDDB
Comment[et]=CDDB ülekannete seadistamine
Comment[fi]=Aseta CDDB-haku
Comment[fr]=Configurer la recherche CDDB
Comment[ga]=Cumraigh aisghabháil CDDB
Comment[gl]=Configurar a recuperación de CDDB
Comment[hu]=A CDDB letöltés beállítása
Comment[ia]=Configura le Recuperation de CDDB
Comment[it]=Configura il recupero CDDB
Comment[kk]=CDDB деректер алуды баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​ទៅ​យក CDDB
Comment[lt]=Konfigūruoti CDDB atsisiuntimą
Comment[nb]=Oppsett av CDDB-henting
Comment[nds]=CDDB-Affraag instellen
Comment[nl]=Ophalen van CDDB-informatie instellen
Comment[nn]=Oppsett av CDDB-henting
Comment[pl]=Konfiguracja pobierania danych z CDDB
Comment[pt]=Configurar a Transferência de CDDB
Comment[pt_BR]=Configurar a recuperação do CDDB
Comment[ru]=Настройка CDDB
Comment[sk]=Nastavenie informácií z CDDB
Comment[sl]=Nastavite pridobivanje CDDB
Comment[sr]=Подесите добављање из ЦДДБ‑а
Comment[sr@ijekavian]=Подесите добављање из ЦДДБ‑а
Comment[sr@ijekavianlatin]=Podesite dobavljanje iz CDDB‑a
Comment[sr@latin]=Podesite dobavljanje iz CDDB‑a
Comment[sv]=Anpassa hämtning från CDDB
Comment[tr]=CDDB Erişimini Yapılandır
Comment[uk]=Налаштування звантаження з CDDB
Comment[x-test]=xxConfigure the CDDB Retrievalxx
Comment[zh_CN]=配置 CDDB 获取
Comment[zh_TW]=CDDB 取得資訊設定

Keywords=cddb;
Keywords[bg]=cddb;данни;диск
Keywords[cs]=cddb;
Keywords[de]=cddb;
Keywords[el]=cddb:
Keywords[et]=cddb;
Keywords[fi]=cddb;
Keywords[hu]=cddb;
Keywords[ia]=cddb;
Keywords[nb]=cddb:
Keywords[nl]=cddb;
Keywords[pl]=cddb;
Keywords[pt]=cddb;
Keywords[pt_BR]=cddb;
Keywords[sk]=cddb;
Keywords[sr]=CDDB;ЦДДБ
Keywords[sr@ijekavian]=CDDB;ЦДДБ
Keywords[sr@ijekavianlatin]=CDDB;CDDB
Keywords[sr@latin]=CDDB;CDDB
Keywords[sv]=cddb;
Keywords[uk]=cddb;
Keywords[x-test]=xxcddb;xx
Keywords[zh_CN]=cddb;
Keywords[zh_TW]=cddb;

Categories=Qt;KDE;X-KDE-settings-sound;
