[Desktop Entry]
Exec=kcmshell4 libkcddb
Icon=media-optical-audio
Type=Service
ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=audio-and-video

X-KDE-Library=kcm_cddb
X-KDE-ParentApp=kcontrol
X-DocPath=kcontrol/cddbretrieval/index.html

Name=CDDB Retrieval
Name[ar]=جَلْبُ CDDB
Name[ast]=Baxada de CDDB
Name[bg]=Извличане от CDDB
Name[bs]=Dobavljanje iz CDDB‑a
Name[ca]=Recuperació CDDB
Name[ca@valencia]=Recuperació CDDB
Name[cs]=Získání CDDB
Name[cy]=Cyrchu CDDB
Name[da]=CDDB-hentning
Name[de]=CDDB-Abfrage
Name[el]=Ανάκτηση CDDB
Name[en_GB]=CDDB Retrieval
Name[eo]=CDDB-serĉo
Name[es]=Descarga de CDDB
Name[et]=CDDB ülekanded
Name[eu]=CDDB berreskuraketa
Name[fa]=بازیابی CDDB
Name[fi]=CDDB-haku
Name[fr]=Recherche CDDB
Name[ga]=Aisghabháil CDDB
Name[gl]=Obtención CDDB
Name[he]=אחזור CDDB
Name[hi]=सीडीडीबी रिट्राइवल
Name[hne]=सीडीडीबी रिट्राइवल
Name[hr]=Dohvaćanje iz CDDB-a
Name[hu]=CDDB-lekérdezés
Name[is]=CDDB stillingar
Name[it]=Recupero CDDB
Name[ja]=CDDB 検索
Name[kk]=CDDB деректерді алу
Name[km]=ការ​ទៅយក CDDB
Name[ko]=CDDB 가져오기
Name[ku]=Standina CDDB
Name[lt]=CDDB įrašo atsisiuntimas
Name[lv]=CDDB datu saņemšana
Name[mk]=Пребарување на CDDB
Name[ms]=Pembuka CDDB
Name[nb]=CDDB-henting
Name[nds]=CDDB-Affraag
Name[ne]=सीडीडीबी पुनः प्राप्ति
Name[nl]=CDDB-informatie
Name[nn]=CDDB-henting
Name[oc]=CDDB Retrieval
Name[pa]=CDDB ਪਰਾਪਤੀ
Name[pl]=Pobieranie z CDDB
Name[pt]=Transferência de CDDB
Name[pt_BR]=Recuperação do CDDB
Name[ro]=Căutare CDDB
Name[ru]=Доступ к CDDB
Name[sk]=Informácie z CDDB
Name[sl]=Pridobivanje CDDB
Name[sq]=Marrës CDDB
Name[sr]=Добављање из ЦДДБ‑а
Name[sr@ijekavian]=Добављање из ЦДДБ‑а
Name[sr@ijekavianlatin]=Dobavljanje iz CDDB‑a
Name[sr@latin]=Dobavljanje iz CDDB‑a
Name[sv]=Hämta från CDDB
Name[ta]=குறுந்தகடு தகவல்தளம் மீட்டெடுப்பு
Name[tg]=Бозёбии CDDB
Name[th]=ดึงข้อมูลจากบริการ CDDB
Name[tr]=CDDB Erişimi
Name[ug]=CDDB ئېرىشىمى
Name[uk]=Звантаження з CDDB
Name[wa]=Abagaedje CDDB
Name[xh]=CDDB Ukukangela
Name[x-test]=xxCDDB Retrievalxx
Name[zh_CN]=CDDB 检索
Name[zh_HK]=CDDB 資訊擷取
Name[zh_TW]=CDDB 取得資訊

GenericName=CDDB Configuration
GenericName[ar]=ضبط CDDB
GenericName[ast]=Configuración de CDDB
GenericName[bg]=Настройки на CDDB
GenericName[br]=Kefluniadur CDDB
GenericName[bs]=Konfiguracija CDDB‑a
GenericName[ca]=Configuració CDDB
GenericName[ca@valencia]=Configuració CDDB
GenericName[cs]=Nastavení CDDB
GenericName[cy]=Ffurfweddu CDDB
GenericName[da]=CDDB-indstilling
GenericName[de]=CDDB-Einrichtung
GenericName[el]=Διαμόρφωση CDDB
GenericName[en_GB]=CDDB Configuration
GenericName[eo]=CDDB-agordo
GenericName[es]=Configuración de CDDB
GenericName[et]=CDDB seadistamine
GenericName[eu]=CDDB konfigurazioa
GenericName[fa]=پیکربندی CDDB
GenericName[fi]=CDDB-asetukset
GenericName[fr]=Configuration CDDB
GenericName[ga]=Cumraíocht CDDB
GenericName[gl]=Configuración da CDDB
GenericName[he]=הגדרות CDDB
GenericName[hi]=सीडीडीबी कॉन्फ़िगरेशन
GenericName[hne]=सीडीडीबी कान्फिगरेसन
GenericName[hr]=Podešavanje CDDB-a
GenericName[hu]=CDDB-beállító
GenericName[is]=Stillingar CDDB
GenericName[it]=Configurazione CDDB
GenericName[ja]=CDDB の設定
GenericName[kk]=CDDB баптауы
GenericName[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ CDDB
GenericName[ko]=CDDB 설정
GenericName[ku]=Veavakirina CDDB
GenericName[lt]=CDDB konfigūravimas
GenericName[lv]=CDDB konfigurācija
GenericName[mk]=Конфигурација на CDDB
GenericName[ms]=Penyelarasan CDDB
GenericName[nb]=CDDB-oppsett
GenericName[nds]=CDDB-Instellen
GenericName[ne]=सीडीडीबी कन्फिगरेसन
GenericName[nl]=CDDB instellingen
GenericName[nn]=CDDB-oppsett
GenericName[pa]=CDDB ਸੰਰਚਨਾ
GenericName[pl]=Konfiguracja CDDB
GenericName[pt]=Configuração do CDDB
GenericName[pt_BR]=Configuração do CDDB
GenericName[ro]=Configurează CDDB
GenericName[ru]=Настройка CDDB
GenericName[sk]=Nastavenie CDDB
GenericName[sl]=Nastavitve CDDB
GenericName[sq]=Konfigurim i CDDB
GenericName[sr]=Постава ЦДДБ‑а
GenericName[sr@ijekavian]=Постава ЦДДБ‑а
GenericName[sr@ijekavianlatin]=Postava CDDB‑a
GenericName[sr@latin]=Postava CDDB‑a
GenericName[sv]=CDDB-inställning
GenericName[ta]=குறுந்தகடு தகவல்தள வடிவமைப்பு
GenericName[tg]=Батанзимдарории CDDB
GenericName[th]=ปรับแต่งบริการ CDDB
GenericName[tr]=CDDB Yapılandırması
GenericName[ug]=CDDB سەپلىمىسى
GenericName[uk]=Налаштування CDDB
GenericName[uz]=CDDB moslamasi
GenericName[uz@cyrillic]=CDDB мосламаси
GenericName[wa]=Apontiaedje di CDDB
GenericName[xh]=CDDB Configuration
GenericName[x-test]=xxCDDB Configurationxx
GenericName[zh_CN]=CDDB 配置
GenericName[zh_HK]=CDDB 設定
GenericName[zh_TW]=CDDB 設定

Comment=Configure the CDDB Retrieval
Comment[ar]=تهيئة جلب CDDB
Comment[ast]=Configurar la baxada de CDDB
Comment[bg]=Настройки на извличане от CDDB
Comment[bs]=Podesite dobavljanje iz CDDB‑a
Comment[ca]=Configura la recuperació CDDB
Comment[ca@valencia]=Configura la recuperació CDDB
Comment[cs]=Nastavení stahování z CDDB
Comment[cy]=Ffurfweddu Nôl o'r CDDB
Comment[da]=Indstil at hente via CDDB
Comment[de]=CDDB-Abfrage einrichten
Comment[el]=Διαμόρφωση της ανάκτησης CDDB
Comment[en_GB]=Configure the CDDB Retrieval
Comment[eo]=Agordi la CDDB-serĉon
Comment[es]=Configurar la descarga de CDDB
Comment[et]=CDDB ülekannete seadistamine
Comment[eu]=Konfiguratu CDDB berreskuraketa
Comment[fa]=پیکربندی بازیابی CDDB
Comment[fi]=Aseta CDDB-haku
Comment[fr]=Configurer la recherche CDDB
Comment[ga]=Cumraigh aisghabháil CDDB
Comment[gl]=Configurar a recuperación de CDDB
Comment[he]=הגדר אחזור של CDDB
Comment[hi]=सीडीडीबी प्राप्त करना कॉन्फ़िगर करें
Comment[hne]=सीडीडीबी प्राप्त करना कान्फिगर करव
Comment[hr]=Podešavanje dohvaćanja iz CDDB
Comment[hu]=A CDDB-lekérdezés beállításai
Comment[is]=Stilling CDDB 
Comment[it]=Configura il recupero CDDB
Comment[ja]=CDDB 検索の設定
Comment[kk]=CDDB деректер алуды баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​ទៅយក CDDB
Comment[ko]=CDDB 가져오기 설정
Comment[ku]=Veavakirina Standina 
Comment[lt]=Konfigūruoti CDDB įrašų atsisiuntimą
Comment[lv]=Konfigurē CDDB datu saņemšanu
Comment[mk]=Конфигурирање на пребарувањето на CDDB
Comment[nb]=Oppsett av CDDB-henting
Comment[nds]=CDDB-Affraag instellen
Comment[ne]=सीडीडीबी पुनः प्राप्ति कन्फिगर गर्नुहोस्
Comment[nl]=Ophalen van CDDB-informatie instellen
Comment[nn]=Oppsett av CDDB-henting
Comment[pa]=CDDB ਪ੍ਰਾਪਤੀ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja pobierania danych z CDDB
Comment[pt]=Configurar a Transferência de CDDB
Comment[pt_BR]=Configurar a recuperação do CDDB
Comment[ro]=Configurează căutarea CDDB
Comment[ru]=Настройка CDDB
Comment[sk]=Nastavenie CDDB
Comment[sl]=Nastavi pridobivanje CDDB
Comment[sq]=Konfiguro Marrjen e CDDB
Comment[sr]=Подесите добављање из ЦДДБ‑а
Comment[sr@ijekavian]=Подесите добављање из ЦДДБ‑а
Comment[sr@ijekavianlatin]=Podesite dobavljanje iz CDDB‑a
Comment[sr@latin]=Podesite dobavljanje iz CDDB‑a
Comment[sv]=Anpassa hämtning från CDDB
Comment[ta]=CDDB மீட்டெடுப்பை உள்ளமை
Comment[tg]=Танзими Бозёбии CDDB
Comment[th]=ปรับแต่งการดึงข้อมูลจากบริการ CDDB
Comment[tr]=CDDB Erişimini Yapılandır
Comment[ug]=CDDB ئېرىشىمى سەپلىمىسى
Comment[uk]=Налаштування звантаження з CDDB
Comment[wa]=Apontyî l' abagaedje CDDB
Comment[x-test]=xxConfigure the CDDB Retrievalxx
Comment[zh_CN]=CDDB 检索配置
Comment[zh_HK]=設定 CDDB 資訊擷取
Comment[zh_TW]=CDDB 取得資訊設定

Keywords=cddb
Keywords[ar]=cddb
Keywords[ast]=cddb
Keywords[be]=cddb
Keywords[bg]=cddb
Keywords[bn]=cddb
Keywords[br]=cddb
Keywords[bs]=cddb
Keywords[ca]=cddb
Keywords[ca@valencia]=cddb
Keywords[cs]=cddb
Keywords[cy]=cddb
Keywords[da]=cddb
Keywords[de]=cddb
Keywords[el]=cddb
Keywords[en_GB]=cddb
Keywords[eo]=cddb
Keywords[es]=cddb
Keywords[et]=cddb
Keywords[eu]=cddb
Keywords[fi]=cddb
Keywords[fr]=cddb
Keywords[ga]=cddb
Keywords[gl]=cddb
Keywords[he]=cddb
Keywords[hi]=सीडीडीबी
Keywords[hne]=सीडीडीबी
Keywords[hr]=cddb
Keywords[hu]=cddb
Keywords[is]=cddb
Keywords[it]=cddb
Keywords[ja]=cddb
Keywords[kk]=cddb
Keywords[km]=cddb
Keywords[ko]=cddb
Keywords[ku]=cddb
Keywords[lt]=cddb
Keywords[lv]=cddb
Keywords[mk]=cddb
Keywords[ms]=cddb
Keywords[nb]=cddb
Keywords[nds]=CDDB
Keywords[ne]=सीडीडीबी
Keywords[nl]=cddb
Keywords[nn]=cddb
Keywords[oc]=cddb
Keywords[pa]=cddb
Keywords[pl]=cddb
Keywords[pt]=cddb
Keywords[pt_BR]=cddb
Keywords[ro]=cddb
Keywords[ru]=cddb
Keywords[sk]=cddb
Keywords[sl]=cddb
Keywords[sq]=cddb
Keywords[sr]=CDDB,ЦДДБ
Keywords[sr@ijekavian]=CDDB,ЦДДБ
Keywords[sr@ijekavianlatin]=CDDB,CDDB
Keywords[sr@latin]=CDDB,CDDB
Keywords[sv]=cddb
Keywords[ta]=குறுந்தகடு தகவல்தளம்
Keywords[tg]=cddb
Keywords[th]=บริการ cddb
Keywords[tr]=cddb
Keywords[ug]=cddb
Keywords[uk]=cddb
Keywords[uz]=cddb
Keywords[uz@cyrillic]=cddb
Keywords[wa]=cddb
Keywords[x-test]=xxcddbxx
Keywords[zh_CN]=cddb
Keywords[zh_HK]=cddb
Keywords[zh_TW]=cddb

Categories=Qt;KDE;X-KDE-settings-sound;
